/* Font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    line-height: 1;
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    background-color: #E1E6EF;
}

.navbar {
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar-nav {
    justify-content: center;
    margin: auto;
}

.nav-link {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    color: #444444;
    text-decoration: none;
}

.nav-link:hover {
    color: #B6CCFE;
}

.btn-login {
    background: #B6CCFE;
    border-radius: 50px;
    border: none;
    width: 110px;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #444444;
}

.btn-login:hover {
    transform: translateY(-3px);
    color: #FFFFFF;
}

.hero {
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-hero {
    margin: auto;
}

.out-special {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    margin-top: 130px;
    color: #94AADC;
}

.change {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #444444;
}

.made {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
}

.image-hero a img {
    width: 100%;
}

.judul-menu p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #444444;
}

.menu {
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-sm-3 {
    margin-right: 20px;
}

.card {
    width: 264px;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    align-items: center;
    margin-top: 50px;
}

.gelato {
    background: #E1E6EF;
    border-radius: 13px;
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.gelato p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    color: #444444;
}

.gelato-image a img {
    margin-top: 20px;
}

.nama-gelato {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    color: #444444;
    margin-top: 15px;
}

.keterangan {
    display: flex;
}

.keterangan-gelato {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    align-items: center;
    color: #444444;
    margin-top: 15px;
    margin-left: auto;
}

.harga-gelato {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: #444444;
    margin-top: 8px;
}

.nama-cafe {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    color: #444444;
    margin-top: 80px;
}

.text-cafe {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    color: #444444;
    margin-top: 80px;
}

.cafe {
    margin-left: 30px;
    margin-right: 30px;
}

.image-cafe a img {
    margin-top: 50px;
    width: 100%;
}

.view-more {
    margin-top: 60px;
    text-align: center;
}

.btn-more {
    background: #B6CCFE;
    border-radius: 50px;
    border: none;
    width: 170px;
    height: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    color: #444444;
}

.btn-more:hover {
    transform: translateY(-2px);
    color: #FFFFFF;
}

footer {
    background-color: #444444;
    height: 60px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.address a img {
    width: 24px;
}
