/* Font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
}

:root {
    --main: #B6CCFE;
    --second: #E1E6EF;
    --accent: #444444;
}

body {
    background-color: var(--second);
}

.sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: var(--main);
}

.sidebar header {
    padding: 25px;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
    user-select: none;
}

.sidebar button {
    display: block;
    color: var(--accent);
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 18px;
    padding: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: var(--main);
    border-bottom: 2px solid var(--accent);
    text-align: left;
    box-sizing: border-box;
    transition: .7s;
}

.btn-side button:hover a {
    padding-left: 50px;
}

.sidebar btn-side a i {
    margin-right: 16px;
}

.fas {
    color: var(--accent);
    margin-right: 3px;
}

.product {
    display: flex;
}

#qr {
    text-align: center;
    padding-top: 30px;
    padding-right: 20px;
    border-bottom: 2px solid var(--accent);
}

.navbar {
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    margin-left: 20%;
    padding-left: 50px;
}

.navbar-nav {
    justify-content: center;
    margin: auto;
}

.nav-link:hover {
    color: var(--main);
}

.navbar-admin {
    margin-left: 740px;
    border: none;
}

.btn-admin {
    background: none;
    border-radius: 50px;
    border: none;
    width: 80px;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: var(--accent);
}

.btn-admin:hover {
    transform: translateY(-3px);
}

#user {
    color: var(--main);
    font-size: 28px;
    border: none;
    background-color: transparent;
}

.container-content {
    margin-left: 320px;
    margin-top: 80px;
    padding: 1em;
}

.content-head {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #EDF2FB;
    text-align: center;
    align-items: center;
}

.btn-go-back {
    background-color: var(--main);
    padding: 0.5em 2em;
    font-size: 15px;
    border-radius: 30px;
    border: var(--main);
    color: var(--accent);
}

.btn-go-back:hover {
    transform: translateY(-3px);
}

.go-back {
    margin-left: 610px;
}

.container-body {
    width: 100%;
    min-height: 315px;
    background-color: white;
    padding: 10px 20px;
}

.content-body {
    color: #B9BBBF;
}

#teks {
    font-size: 16px;
    padding-top: 10px;
}

.form-input {
    width: 100%;
    padding: 0.5em;
    height: 40px;
    border: 1px solid #B6BBBF;
    border-radius: 5px;
    text-align: left;
}

.btn-save {
    background-color: var(--main);
    width: 75px;
    height: 35px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 30px;
    border: var(--main);
    color: var(--accent);
    text-align: center;
    align-items: center;
}

.btn-save:hover {
    transform: translateY(-3px);
}

table {
    font-family: 'Chakra Petch', sans-serif;
    color: var(--accent);
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #B9BBBF;
    padding: 10px 34px;
}

table,
tr {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.table-image {
    width: 5em;
}
